* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-image: url(https://resizing.flixster.com/ITYDQcWgsqozlTmpVjKNrFggp8A=/fit-in/705x460/v2/https://resizing.flixster.com/4fd7LZ-MguxvzOEWYcqTsbGyONA=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzkzZDdlMmIzLTk2ZTQtNDUwMy1iZDFhLWM0YjU2NWExOTI0Yy5qcGc=); */
}